body{
    background-color: lightgray;
}

span{
    color: goldenrod;
}

.bord{
    border: 1px solid;
}


.cardStyle{
    border-radius: 5px;
    margin: 6px auto 30px auto;
    padding: 2px 2px 15px 2px;
    background-color: lightsteelblue;
    color: green;
}

.cardStyle:hover{
    box-shadow: 0 0 15px rgba(33,33,33,.8);
}

.btm{
    
    bottom: 0px;
    font-size: 40px;
}

.introImg{
    background-image: url("../images/intro.jpeg");
    height: 500px;
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-1{
    color: #ffffff;
}

.aboutBackground{
   background-color: aliceblue;
   font-size: 20px;
}

.shadow{
    text-shadow: 2px 2px grey;
}



.alignCenter{
    text-align: center;
}

#contact{
    background-color: lightgoldenrodyellow;
    padding: 10px 0 20px 0;
}

