
body {
    background-color: #7e8580;
}

h1{
    text-shadow: 2px 2px grey;
}

.class1{
    width: 95%;
    background-color: #3f6b70;
}

.roundedCorner {
    border-radius: 10px;
}

.welcomeJumbo{
    margin: 6px 0 6px 0; 
    background-color: #D5DBDB;
}

.shadow{
    box-shadow: 0 15px 10px 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    background-color: #D5DBDB;
    padding: 2px 2px 2px 2px;
    margin: 1px 3px 1px 3px;
}

.card:hover {
    box-shadow: 0 50px 50px 0 rgba(0,0,0,0.2);
    background-color: rgb(140, 157, 211);
    width:24%;
}

.groupCard{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .class1{
        width: 100%;
        background-color: #3f6b70;
    }

    .roundedCorner {
        border-radius: 0px;
    }

    .welcomeJumbo{
        margin: 6px 0 6px 0; 
        background-color: #D5DBDB;
    }
    .groupCard{
        display: block
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 5px;
        background-color: #D5DBDB;
        padding: 2px 2px 2px 2px;
        margin: 5px 3px 5px 3px;
    }
    
    .card:hover {
        box-shadow: 0 50px 50px 0 rgba(0,0,0,0.2);
        background-color: rgb(140, 157, 211);
        width:100%;
    }
}
  
