:root {
    --theme: #B75A36;
    --background: #F7F7F7;
    --fullwidth: 100%;
}

h1{
    font-family: "Lucida Console", Courier, monospace;
}

h5{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

#about, #experience, #education, #skills{
    margin: 0px 0px 70px 0px;
}

ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

li{
    cursor: pointer;
}

.comp-name{
    color: gray;
    font-weight: bold;
}

.designation{
    font-weight: bold;
}

.skill-icon{
    margin: 20px;
}

.left-icon{
    color: #212529;
    margin: 10px;
}

.skill-text{
    display: inline-block;
    color: white;
    background-color: #212529;
    padding: 6px;
    border-radius: 9px;
    margin: 10px;
}

.project-name{
    font-weight: bold;
}

.experience-card{
    margin: 10px 0px 40px 0px;
}

.education-card{
    margin: 10px 0px 40px 0px;
}

.project-card{
    margin: 10px 0px 40px 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2eded;
}

.left-cen{
    position: fixed;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.left-cen li {
    padding: 20px 20px 0px 20px;
    margin: 10px;
    border-bottom: white 2px solid;
    font-size: larger;
}

#mobile_menu li {
    padding: 20px 20px 0px 20px;
    margin: 10px;
    border-bottom: white 2px solid;
    font-size: larger;
}
.left-cen li:hover{
    background-color: wheat;
}

.left{
    background-color: var(--theme);
}

.right{
    background-color: var(--background);
}

#topbar {
    display: none;
    background-color: var(--theme);
}

#mobile_menu{
    background-color: var(--theme);
}

@media only screen and (max-width: 800px) {
    #topbar {
      display: block;
      background-color: var(--theme);      
    }

    .left{
        display:none;
    }
  }