@media (prefers-color-scheme: light) {
    :root {
        --backgroundColor: #ADADAD;
        --themeLight: #64495C;
        --themeLighter: #83687B;
        --textColor: black;
    }
}
@media (prefers-color-scheme: dark) {  
    :root {
        --backgroundColor: #1A202C;
        --themeLight: #2D3848;
        --themeLighter: #3A4556;
        --textColor: #ffffff;
    }      
}

body {
    background-color: var(--backgroundColor); 
    color: var(--textColor);   
    padding: 3vh;     
} 

.intro{
    margin: 8vh 1vh 15vh 1vh;
    height: 80vh;
}

.salutation{
    margin: 3vh 6vh 3vh 6vh;
}

.intro-head{
    margin: 6vh 0vh 6vh 0vh;
}

.intro-p{
    margin: 3vh 0vh 3vh 0vh;
}

.intro-img{
    margin: 20vh 10vh 5vh 10vh;
}

.butt{
    height: 50px; 
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    border: blueviolet 2px solid;
    border-color: blueviolet;    
}

.butt:hover{
    background-color: blueviolet;
    color: black;
    -webkit-transition: blueviolet 1000ms linear;
    -ms-transition: blueviolet 1000ms linear;
    transition: blueviolet 1000ms linear;
}

.card-extra{
    background-color: var(--themeLighter); 
    padding: 0.5vh;
    margin: 3vh 0vh 3vh 0vh;
}

.art-head{
    margin: 6vh 0vh 6vh 0vh;
}

.art-item{
    display:inline-block;
    border-left: var(--backgroundColor) 2px solid;  
    background-color: var(--themeLight);     
    margin: 3vh;
    padding: 2vh;
    border-radius: 1vh;        
}

.art-item:hover{
    background-color: var(--themeLighter);
    border-left: chartreuse 2px solid;
    cursor: pointer;
}

.art-link{    
    color: inherit;
    text-decoration: none;
}
.art-link:hover{    
    color: inherit;
    text-decoration: none;
}

.project-col{
    padding: 0vh 1vh 0vh 1vh;
}

.card-body{
    padding: 2vh 5vh 2vh 5vh;
}

.project-img-parent{
    height: 300px;
    position: relative;
}

.project-img-parent:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--themeLight);
}

.project-overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-img-top{
    display: block;
    width: 100%;
    height: 100%;
}

.footer{
    padding: 3vh;
}